@charset "UTF-8";

/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-lightgray);
  --color-primary-variant: var(--color-black);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-gray);
  --color-text: var(--color-navy);

  /* Colors */
  --color-blue: rgb(116, 151, 190);
  --color-blue: rgb(147, 176, 209);
  --color-navy: rgb(37, 69, 103);
  --color-gray: rgb(208, 208, 226);
  --color-lightgray: rgb(228, 229, 234);
  --color-black: rgb(14, 21, 27);

  /* Size */
  --size-max-width: 1200px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
}

/* Common */
.section {
  /* padding: 3rem; */
  text-align: center;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/* Sign Up */

.login__logo {
  align-items: center;
  padding-bottom: 20px;
}

.login__logo__img {
  width: 15rem;
}

#signup {
  display: flex;
  background-color: var(--color-white);
  text-align: center;
  align-items: center;
  margin: auto;
  height: 727px;
}
.signup__logo {
  align-items: center;
  padding-bottom: 20px;
}
.signup__logo__img {
  width: 15rem;
}
.signup {
  display: block;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  padding: 40px;
  width: 320px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signup__title {
  font-size: 2rem;
  color: var(--color-text);
  padding-bottom: 20px;
}


.signup__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.signup__input {
  display: block;
  margin: 0;
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.error-message {
 	margin-top: 1.3rem;
	color: var(--color-text);
}

#signup__form {
  margin: 0;
}

.gallery__array-buttons {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 2rem;
}

.signup__submit__button, .back__button {
  background-color: transparent;
  color: var(--color-accent);
  border: none;
  font-size: 1rem;
  padding: 0rem 0.7rem 0rem 0.4rem;
}
.signup__submit__button:hover, .back__button:hover {
  color: var(--color-text);
}





/* Footer */
#information {
  position: relative;
  background-color: var(--color-text);
  color: white;
  padding: 3rem;
}

.information__title {
  margin: 0;
  padding: 0.5rem;
}
